* {
    border: none;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    background: #373737;
    color: #eee;
    height: 10vh;
    width: 100vw;    
    padding-top: 2%;
}

section {
    height: 50vh;
    width: 30vw;
    margin: auto;
    border: 3px solid #000;
    background: #eeedeb;
    border-radius: 5px;    
}

section  span {    
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background: #000;
}
